{% extends 'Homepage.html' %}
{% block title %} 修改 "{{ post['title'] }}"{% endblock %}
{% block head_title %}
    <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">修改文章</h1>
    </div>
{% endblock %}
{% block head %}
    {#    <script src="{{ url_for('static',filename='ckeditor5/build/ckeditor.js') }}">#}
    {#    </script>#}
    {#        <script src="https://cdn.ckeditor.com/ckeditor5/19.0.0/classic/ckeditor.js"></script>#}
{% endblock %}
{% block content %}

    <section class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="bg-white rounded text-center p-5 shadow-down">
                        <h4 class="mb-80">更新 {{ post['title'] }}</h4>
                        <div class="shadow-down mb-4">
                            <img src="{{ url_for('static', filename='/images/upload/postImages/'+post['postImage']) }}"
                                 alt="postImage" width="20" style="max-width: 300px;max-height: 300px"
                                 class="img-fluid w-100 rounded-lg border-thick border-white" id="show">
                        </div>
                        <form method="post" enctype="multipart/form-data" class="row">
                            {#                            <div class="col-12">#}
                            {#                                <label for="avatar" class="btn-transparent" style="cursor: pointer">上传一个头像</label>#}
                            {#                                <input type="file" name="avatar" id="avatar" style="display: none"#}
                            {#                                       value="{{ request.form['avatar'] or info['avatar'] }}"#}
                            {#                                       accept="image/png, image/jpeg, image/jpg" onchange="changepic(this)">#}
                            {#                            </div>#}
                            <div class="col-12">
                                <label for="postImage" class="btn-transparent" style="cursor: pointer">上传一张图片</label>
                                <input type="file" name="postImage" id="postImage" style="display: none"
                                       accept="image/png, image/jpeg, image/jpg" onchange="changepic(this)">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="title" name="title" placeholder="文章标题" onfocus="this.select()"
                                       class="form-control px-0 mb-4"
                                       value="{{ request.form['title'] or post['title'] }}" required>
                            </div>
                            <div class="col-12">
                                <input type="text" id="summary" name="summary" placeholder="文章概要" onfocus="this.select()"
                                       class="form-control px-0 mb-4"
                                       value="{{ request.form['summary'] or post['summary'] }}" required>
                            </div>
                            <div class="col-12">
                                <textarea name="body" id="body" class="form-control px-0 mb-4"
                                          placeholder="正文内容" style="min-height: 600px" onfocus="this.select()"
                                          required>{{ request.form['body'] or post['body'] }}</textarea>
                            </div>
                            <div class="col-md-6">
                                {#                                <button class="btn btn-primary w-100">保存</button>#}
                                <input type="submit" value="保存" class="btn btn-outline-success w-100">
                            </div>
                        </form>
                        <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post" class="row">
                            <div class="col-md-6">
                                <input type="submit" value="删除" class="btn btn-outline-danger w-100"
                                       onclick="return confirm('Are you sure?');">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        function changepic(obj) {
            //console.log(obj.files[0]);//这里可以获取上传文件的name
            var newsrc = getObjectURL(obj.files[0]);
            document.getElementById('show').src = newsrc;
        }

        //建立一個可存取到該file的url
        function getObjectURL(file) {
            var url = null;
            // 下面函数执行的效果是一样的，只是需要针对不同的浏览器执行不同的 js 函数而已
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
    </script>
{% endblock %}

{#{% block scripts %}#}
{#    <script>#}
{#        ClassicEditor#}
{#        .create(document.querySelector('#body'), {#}
{#            toolbar: {#}
{#                items: [#}
{#                    'undo',#}
{#                    'redo',#}
{#                    '|',#}
{#                    'heading',#}
{#                    '|',#}
{#                    'bold',#}
{#                    'italic',#}
{#                    'link',#}
{#                    'bulletedList',#}
{#                    'numberedList',#}
{#                    '|',#}
{#                    'indent',#}
{#                    'outdent',#}
{#                    '|',#}
{#'imageUpload',#}
{#                    'blockQuote',#}
{#                    'insertTable',#}
{#                    'highlight',#}
{#                    'code',#}
{#                    'codeBlock'#}
{#                ]#}
{#            },#}
{#            language: 'en',#}
{#            image: {#}
{#                toolbar: [#}
{#                    'imageTextAlternative',#}
{#                    'imageStyle:full',#}
{#                    'imageStyle:side'#}
{#                ]#}
{#            },#}
{#            table: {#}
{#                contentToolbar: [#}
{#                    'tableColumn',#}
{#                    'tableRow',#}
{#                    'mergeTableCells'#}
{#                ]#}
{#            },#}
{#            licenseKey: '',#}
{##}
{#        })#}
{#        .then(editor => {#}
{#            window.editor = editor;#}
{##}
{##}
{#        })#}
{#        .catch(error => {#}
{#            console.error('Oops, something gone wrong!');#}
{#            console.error('Please, report the following error in the https://github.com/ckeditor/ckeditor5 with the build id and the error stack trace:');#}
{#            console.warn('Build id: l3o6r34b2cq-x9tytuvr5n0n');#}
{#            console.error(error);#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
